#description {
  text-transform: capitalize;
}

body {
  background: bisque;
  margin-top: 50px;
}
.card {
  margin: auto;
  background-color: #ffffff66;
  padding: 20px;
  max-width: 1200px;
}

.footer {
  text-decoration: none;
  font-size: 10px;
  color: #0000f766;
}
.search {
  border-radius: 5px;
  border: 1px solid;
}
.cardImage {
  max-width: 80px;
}
.cardTitle {
  font-size: 10px;
}
h6 {
  color: #05040266;
  font-size: 10px;
}
.link {
  text-decoration: none;
}
.cLink {
  text-decoration: none;
  cursor: pointer;
}
#feels {
  color: #05040266;
  font-style: italic;
}
