#description {
  text-transform: capitalize;
}

body {
  background: bisque;
  margin-top: 50px;
}
.card {
  margin: auto;
  background-color: #ffffff66;
}
a {
  text-decoration: none;
  font-size: 17px;
}
