#description {
  text-transform: capitalize;
}

body {
  background: bisque;
  margin-top: 50px;
}
.card {
  margin: auto;
  background-color: #ffffff66;
  padding: 20px;
  max-width: 1000px;
}

a {
  text-decoration: none;
  font-size: 17px;
}
.search {
  border-radius: 5px;
  border: 1px solid;
}
.col-2 {
  border-color: blue;
}
